.paragraf {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    /* ---------------- */
    background-color: #999;
    padding: 25px 25px 0 25px;
    max-width: 50vw;
    height: 100px;
    overflow: auto;
}